* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #f9f9fa;

}

@font-face {
    font-family: 'Galano Grotesque Medium';
    src: url('../src/fonts/GalanoGrotesque-Medium.woff2') format('woff2');
    font-weight: normal;
}

.cards {
    width: 1440px;
    margin: 0 auto;
}

.promo {
    width: 845px;
    margin: 80px 299px 80px 296px;
}

.promo__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(90deg, #4343ff 0%, #f96d6d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.promo__subtitle {
    font-family: 'Galano Grotesque Medium';
    font-weight: 400;
    font-size: 46px;
    line-height: 120%;
    text-align: center;
    color: #110c11;
    margin-top: 22px;
}

.cards__container {
    padding-bottom: 80px;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.cards__card {
    width: 387px;
    background: #fff;
}

.cards__title {
    background: #fff;
    padding: 22px 0 0 22px;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    color: #110c11;
}

.cards__subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 153%;
    color: #5c5c5c;
    background: #fff;
    margin: 28px 22px 22px 22px;
    
}