* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #f9f9fa;

}

@font-face {
    font-family: 'Galano Grotesque Medium';
    src: url('../src/fonts/GalanoGrotesque-Medium.woff2') format('woff2');
    font-weight: normal;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.cards__promo {
    max-width: 845px;
    /* margin: 80px 299px 80px 296px; */
    margin: 80px auto;
}

.cards__promo__title {
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(90deg, #4343ff 0%, #f96d6d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.cards__promo__subtitle {
    font-family: 'Galano Grotesque Medium';
    font-weight: 400;
    font-size: 46px;
    line-height: 120%;
    text-align: center;
    color: #110c11;
    margin-top: 22px;
}

.cards__container {
    padding-bottom: 80px;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.cards__card {
    padding: 22px;
    max-width: 387px;
    background: #fff;
}

.cards__title {
    background: #fff;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    color: #110c11;
    margin-bottom: 28px;
}

.cards__descr {
    background: #fff;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5;
    color: #5c5c5c;
}

@media (max-width: 576px) {
    .cards__promo {
        max-width: 845px;
        /* margin: 30px 1px 14px 1px; */
        margin: 30px auto;
    }

    .cards__promo__subtitle {
        font-size: 30px;
    }
}

:root {
    --my-progress: 46%; 
}

@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('/fonts/HelveticaNeue-Regular.ttf') format('ttf'),
        url('/fonts/HelveticaNeue-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url('/fonts/HelveticaNeueMedium.otf') format('otf'),
        url('/fonts/HelveticaNeueMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('/fonts/HelveticaNeueBold.otf') format('otf'),
        url('/fonts/HelveticaNeueBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.statistics {
    border-radius: 5px;
    padding: 24px 32px;
    max-width: 370px;
    background: #fff;
    margin: 0 auto;
}

.statistics__content {
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.statistics__progress,
.statistics__percents {
    gap: 8px;
    flex-direction: column;
    display: flex;
    max-width: 306px;
    background: #fff;
}

.statistics__progress-text,
.statistics__video-block2,
.statistics__tests-block2 {
    font-family: "Helvetica Neue Regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #515151;
    background: #fff;
}

.statistics__progress-heading {
    font-family: "Helvetica Neue Bold", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    color: #061b36;
    background: #fff;
}

.statistics__percents-number {
    font-family: "Helvetica Neue Bold", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #77bb2f;
    background: #fff;
}

.statistics__percents-line {
    border-radius: 9999px;
    max-width: 306px;
    background: #eef3f7;
}

.statistics__percents-green {
    width: var(--my-progress);
    border-radius: 9999px;
    height: 4px;
    background: #77bb2f;
}

.statistics__video,
.statistics__tests {
    background: #fff;
    display: flex;
    justify-content: space-between;
    max-width: 306px;
}

.statistics__video-block1,
.statistics__tests-block1 {
    background: #fff;
    display: flex;
    gap: 10px;
    max-width: 71px;
}

.statistics__video-img,
.statistics__tests-img,
.statistics__video-icon,
.statistics__tests-icon
 {
    background: #fff;
}

.statistics__video-text,
.statistics__tests-text {
    font-family: "Helvetica Neue Medium", sans-serif;
    background: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    color: #061b36;
}

